/*
  Getting rid of default styling
 */

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
================================================================================ 
 */
/* font importing */
@font-face {
  font-family: "Libre Baskerville";
  src: url("../fonts/libre-baskerville/LibreBaskerville-Regular.ttf"),
    url("../fonts/libre-baskerville/LibreBaskerville-Bold.ttf"),
    url("../fonts/libre-baskerville/LibreBaskerville-Italic.ttf");
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/nunito/Nunito-Regular.ttf"),
    url("../fonts/nunito/Nunito-Bold.ttf"),
    url("../fonts/nunito/Nunito-Italic.ttf");
}


/* 
h1 {
  font-family: "Libre Baskerville", serif;
  font-size: 36px;
}

h2 {
  font-family: "Nunito" ,sans-serif;
  font-size: 26px;
  font-weight: bold;
}
*/

/* 
=========================
Custom Style
========================= 
*/


/*
=========================
Grid
=========================
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 60%;
  margin: 0 auto;
}

/*
=========================
Typography
=========================
 */

body {
  font-family: "Nunito" ,sans-serif;
}

 h1 {
  font-size: 48px;
  /* font-family: "Libre Baskerville", serif; */
}

h2 {
  font-size: 36px;
  /* font-family: "Libre Baskerville", serif; */
}

h3 {
  font-size: 24px;
  /* font-family: "Nunito" ,sans-serif; */
}

h4 {
  font-size: 18px;
  /* font-family: "Nunito" ,sans-serif;*/
} 

/* p, a {
   font-family: "Nunito" ,sans-serif; 
}  */



/* 
=========================
Clearfix
=========================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/* 
=========================
Layout and positions
=========================
*/

/* header section */
header {
  display: flex;
  justify-content: space-between;
  padding: 16px 4%;
}

.header-nav-bar{
  display: flex;
  gap: 16px;
}

/* hero section */
.hero {
  display: flex;
  flex-direction: column;
}

/* welcome message */
.welcome-message {
  display: flex;
  justify-content: space-between;
  padding: 32px 20%;
}

.welcome-message-text {
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: center;
}

.welcome-message-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 300px;
  border: solid;
}

/* about me */
.about-me {
  display: flex;
  flex-direction: column;
  padding: 32px 20%;
  align-items: flex-start;
}

/* projects */
.projects {
  display: flex;
  flex-direction: column;
  padding: 32px 20%;
  align-items: flex-start;
}


/* footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 4%;
}

.footer-nav-bar {
  display: flex;
  gap: 16px;
}