
/* 
  color: surfboard yellow
         rgb(252, 218, 137)

  color: bit of sugar
         rgb(244, 242, 236)

*/

/* font importing */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --background-color: #fbc40e;
  --text-color: #f8f6f6;
  --div1: #343F71;
  --div2: #e9d8e4;
  --div3: f34c19;

}

* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family:  Roboto ,sans-serif;
}

li {
  list-style: none;
}

/* 
layout
*/
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: grid;
  grid-template: 100px 1fr / 100px 1fr 300px;
  grid-template-areas: 
  "logo empty nav"
  "heading heading heading";

  width: 100%;
  padding: 50px;
}
.logo {
  grid-area: logo;
  width: 100px;
  place-self: center;
}
.nav {
  grid-area: nav;


  display: flex;
  justify-content: center;
  align-items: center;
}
.nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading{
  grid-area: heading;
  place-self: center;

  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* 
Color
*/
body {
  background-color: var(--background-color);
}